element.style {
}
.dark-theme .content {
    background-color: #121215;
    color: #f7f7f8;
}
.builder-font div {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
}
@media (max-width: 1154px) {
    .content {
        max-width: 970px;
    }
}
@media (max-width: 1338px) {
    .content {
        max-width: 1154px;
    }
}
.content {
    max-width: 1338px;
    background-color: #e6e7ea;
    padding-top: 24px;
    margin: 0 auto;
}
div {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3em;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.builder-font, .builder-font .h1, .builder-font .h2, .builder-font .h3, .builder-font .h4, .builder-font .h5, .builder-font .h6, .builder-font h1, .builder-font h2, .builder-font h3, .builder-font h4, .builder-font h5, .builder-font h6 {
    font-family: Builder Sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
.builder-font {
    font-weight: 400;
}
.dark-theme {
    background-color: #121215;
    color: #f7f7f8;
}
.dark-theme {
    --lightningcss-light: ;
    --lightningcss-dark: initial;
    color-scheme: dark;
    --color-none: transparent;
    --color-surface-0: #121215;
    --color-surface-100: #191a1f;
    --color-surface-200: #202227;
    --color-surface-300: #272930;
    --color-over-media-0: rgba(18, 18, 21, .92);
    --color-over-media-100: rgba(25, 26, 31, .92);
    --color-over-media-200: rgba(32, 34, 39, .92);
    --color-over-media-300: rgba(39, 41, 48, .92);
    --color-shift-100: rgba(208, 217, 251, .04);
    --color-shift-200: rgba(208, 217, 251, .08);
    --color-shift-300: rgba(208, 217, 251, .12);
    --color-shift-400: rgba(208, 217, 251, .16);
    --color-content-emphasis: #f7f7f8;
    --color-content-default: #d5d7dd;
    --color-content-muted: #bcbec8;
    --color-content-link: #528bff;
    --color-stroke-emphasis: rgba(208, 217, 251, .16);
    --color-stroke-default: rgba(208, 217, 251, .12);
    --color-stroke-muted: rgba(208, 217, 251, .08);
    --color-system-contrast: #f7f7f8;
    --color-system-neutral: #bcbec8;
    --color-system-emphasis: #335fff;
    --color-system-success: #39c582;
    --color-system-warning: #f2ba2a;
    --color-system-alert: #df281f;
    --color-action-emphasis-background: #335fff;
    --color-action-emphasis-foreground: #f7f7f8;
    --color-action-emphasis-border: transparent;
    --color-action-soft-emphasis-background: rgba(51, 95, 255, .4);
    --color-action-soft-emphasis-foreground: #ebf1ff;
    --color-action-soft-emphasis-border: transparent;
    --color-action-sub-emphasis-background: #f7f7f8;
    --color-action-sub-emphasis-foreground: #202227;
    --color-action-sub-emphasis-border: transparent;
    --color-action-standard-background: rgba(208, 217, 251, .12);
    --color-action-standard-foreground: #f7f7f8;
    --color-action-standard-border: transparent;
    --color-action-subtle-background: transparent;
    --color-action-subtle-foreground: #f7f7f8;
    --color-action-subtle-border: #d5d7dd;
    --color-action-link-background: transparent;
    --color-action-link-foreground: #f7f7f8;
    --color-action-link-border: transparent;
    --color-action-alert-background: #df281f;
    --color-action-alert-foreground: #f7f7f8;
    --color-action-alert-border: transparent;
Show all properties (47 more)
}
body {
    font-family: HCo Gotham SSm, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    height: 100%;
    min-width: 320px;
    margin-bottom: 168px;
    overflow-y: scroll;
}
:root {
    --size-0: 0px;
    --size-50: 2px;
    --size-100: 4px;
    --size-150: 6px;
    --size-200: 8px;
    --size-250: 10px;
    --size-300: 12px;
    --size-350: 14px;
    --size-400: 16px;
    --size-500: 20px;
    --size-600: 24px;
    --size-700: 28px;
    --size-800: 32px;
    --size-900: 36px;
    --size-1000: 40px;
    --size-1100: 44px;
    --size-1200: 48px;
    --size-1300: 52px;
    --size-1400: 56px;
    --size-1500: 60px;
    --size-1600: 64px;
    --size-1700: 68px;
    --size-1800: 72px;
    --size-1900: 76px;
    --size-2000: 80px;
    --size-2100: 84px;
    --size-2200: 88px;
    --size-2300: 92px;
    --size-2400: 96px;
    --size-2500: 100px;
    --size-2600: 104px;
    --size-2700: 108px;
    --size-2800: 112px;
    --size-2900: 116px;
    --size-3000: 120px;
    --padding-xxsmall: 2px;
    --padding-xsmall: 4px;
    --padding-small: 8px;
    --padding-medium: 12px;
    --padding-large: 16px;
    --padding-xlarge: 20px;
    --padding-xxlarge: 24px;
    --margin-small: 20px;
    --margin-medium: 24px;
    --margin-large: 48px;
    --gap-xxsmall: 2px;
    --gap-xsmall: 4px;
    --gap-small: 8px;
    --gap-medium: 12px;
    --gap-large: 16px;
Show all properties (109 more)
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.content:after, .content:before {
    content: " ";
    display: table;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
.content:after {
    clear: both;
}
.content:after, .content:before {
    content: " ";
    display: table;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
